* {
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
h1, h2, h3, h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background: #181818;
    padding: 0.4em 0.8em;
}
.brand {
    color: white;
    text-decoration: none;
}
.brand h1 {
    margin: 0;
}
main {
    padding: 0.5em 1em;
}
@media (min-width: 768px) {
    main {
        padding: 1em 2em;
    }
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    text-align: left;
}
th, td {
    border: 1px solid #999;
    padding: 0.2em 0.5em;
}
.hint {
    font-size: 0.8em;
    color: #666;
    font-style: italic;
}
dt {
    font-weight: bold;
}
.day-chart {
    position: relative;
    height: 1.5em;
    margin: 0 auto;
    /* background-image: linear-gradient(90deg, transparent,transparent 49.875%,blue 50%,transparent 50.125%,transparent); */
    border-bottom: 1px solid red;
}
.day-chart-start-label,
.day-chart-end-label {
    display: inline-block;
    font-size: 0.8em;
    vertical-align: text-top;
    color: #666;
}
.day-chart-start-label {
    text-align: right;
}
.day-chart-indicator {
    display: inline-block;
    height: 1.5em;
    background: rgba(192,192,192,0.4);
}